<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span><b>Computação Gráfica</b></span>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/transformation" routerLinkActive="active">
                Transformação
            </a>

            <a class="navbar-item" routerLink="/interpolation" routerLinkActive="active">
                Interpolação
            </a>

            <a class="navbar-item" routerLink="/draw" routerLinkActive="active">
                Desenhar
            </a>

            <a class="navbar-item" routerLink="/heart" routerLinkActive="active">
                Batimentos Cardíacos
            </a>

            <a class="navbar-item" routerLink="/arnold" routerLinkActive="active">
                Mapa de Arnold's Cat
            </a>

            <a class="navbar-item" routerLink="/fractal" routerLinkActive="active">
                Árvore Fractal
            </a>
        </div>
    </div>
</nav>