.navbar {
    .navbar-brand {
        img {
            width: 52px;
            height: 52px;
            margin-right: 10px;
        }

        span {
            font-size: 34px;
            text-align: center;
            margin: 10px;
        }
    }

    a {
        font-size: 16px;
        padding: 10px;

        &.active {
            color: #533263;
        }

        &:hover {
            color: #533263;
            background-color: rgba(128, 128, 128, 0.040);
        }
    }

    .navbar-end {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    width: 15vw;
    height: 95vh;
    display: flex;
    flex-direction: column;

    border-right: 1px solid #ddd;
}
