.draw-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
        a {
            font-size: 20px;
    
            &.active {
                color: #533263;
            }
    
            &:hover {
                color: #533263;
                background-color: #fffaf0;
            }
        }
}

hr {
    height: 1px;
    background-color: #ddd;
}
