<div class="has-text-centered">
    <h1 class="is-size-3 title">Interpolação da Posição do Mouse</h1>
    <h3 class="subtitle">
        Mova seu mouse na <span class="purple">View Port</span> à direita para ver a transformação das coordenadas na 
        <span class="purple">Tela.</span>
    </h3>
</div>
<div class="columns">
    <div class="column is-two-fifths">
        <app-interpolation-result></app-interpolation-result>
    </div>
    <div class="column">
        <app-canvas-view-port></app-canvas-view-port>
    </div>
</div>